<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Serial数据展示</title>
    <link rel="stylesheet" href="./index.css" />
    <!-- 引入elementui start -->
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入elementui end -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <!-- -------------------数据展示 start-------------------------------------- -->
    <div id="app" class="display-all">
        <div id="custom-navbar-container"></div>
        <div class="display-main">
            <!-- -------------------侧边栏处理 start-------------------------------------- -->
            <div class="sider-all">
                <div class="sider-input">
                    <div class="com-input">
                        <h2 class="title">导出端口</h2>
                        <div class="com-input-com">
                            <label for="com">COM&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <select class="number-input" name="COM" id="com">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7" selected>7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                            </select>
                            <label for="num">波特率&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <select class="number-input" name="NUM" id="num">
                                <option value="7200">7200</option>
                                <option value="9600" selected>9600</option>
                                <option value="10800">10800</option>
                            </select>
                        </div>
                    </div>
                    <div class="params-input">
                        <h2 class="title">压力传感器参数配置</h2>
                        <!-- x -->
                        <div class="com-input-com">
                            <p>X分段点&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut0" class="number-input" placeholder="输入数字" value="3.6867"
                                v-model="configs_x" />
                            <el-tooltip placement="top">
                                <div slot="content">
                                    当V&lt;={{configs_x}}，F={{configs_x_k1}}，V+{{configs_x_b1}}<br />
                                    当V&gt;{{configs_x}}，F={{configs_x_k2}}，V+{{configs_x_b2}}
                                </div>
                                <i class="el-icon-warning-outline"></i>
                            </el-tooltip>
                        </div>
                        <div class="com-input-com">
                            <p>X-k1&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut1" class="number-input" placeholder="输入数字" value="-130.0802"
                                v-model="configs_x_k1" />
                            <p>X-b1&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut2" class="number-input" placeholder="输入数字" value="525.0134"
                                v-model="configs_x_b1" />
                        </div>
                        <div class="com-input-com">
                            <p>X-k2&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut3" class="number-input" placeholder="输入数字" value="-172.1412"
                                v-model="configs_x_k2" />
                            <p>X-b2&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut4" class="number-input" placeholder="输入数字" value="680.0805"
                                v-model="configs_x_b2" />
                        </div>
                        <hr />
                        <!-- y  -->
                        <div class="com-input-com">
                            <p>Y分段点&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut5" class="number-input" placeholder="输入数字" value="3.7501"
                                v-model="configs_y" />
                            <el-tooltip placement="top">
                                <div slot="content">
                                    当V&lt;={{configs_y}}，F={{configs_y_k1}}，V+{{configs_y_b1}}<br />
                                    当V&gt;{{configs_y}}，F={{configs_y_k2}}，V+{{configs_y_b2}}
                                </div>
                                <i class="el-icon-warning-outline"></i>
                            </el-tooltip>
                        </div>
                        <div class="com-input-com">
                            <p>Y-k1&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut6" class="number-input" placeholder="输入数字" value="-134.1534"
                                v-model="configs_y_k1" />
                            <p>Y-b1&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut7" class="number-input" placeholder="输入数字" value="542.8508"
                                v-model="configs_y_b1" />
                        </div>
                        <div class="com-input-com">
                            <p>Y-k2&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut8" class="number-input" placeholder="输入数字" value="-288.0047"
                                v-model="configs_y_k2" />
                            <p>Y-b2&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut9" class="number-input" placeholder="输入数字" value="1119.8062"
                                v-model="configs_y_b2" />
                        </div>
                        <hr />
                        <!-- z -->
                        <div class="com-input-com">
                            <p>Z分段点&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut10" class="number-input" placeholder="输入数字" value="3.7582"
                                v-model="configs_z" />
                            <el-tooltip placement="top">
                                <div slot="content">
                                    当V&lt;={{configs_z}}，F={{configs_z_k1}}，V+{{configs_z_b1}}<br />
                                    当V&gt;{{configs_z}}，F={{configs_z_k2}}，V+{{configs_z_b2}}
                                </div>
                                <i class="el-icon-warning-outline"></i>
                            </el-tooltip>
                        </div>
                        <div class="com-input-com">
                            <p>Z-k1&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut11" class="number-input" placeholder="输入数字" value="-264.4064"
                                v-model="configs_z_k1" />
                            <p>Z-b1&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut12" class="number-input" placeholder="输入数字" value="1046.2170"
                                v-model="configs_z_b1" />
                        </div>
                        <div class="com-input-com">
                            <p>Z-k2&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut13" class="number-input" placeholder="输入数字" value="-711.2990"
                                v-model="configs_z_k2" />
                            <p>Z-b2&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut14" class="number-input" placeholder="输入数字" value="2725.7298"
                                v-model="configs_z_b2" />
                        </div>
                        <h2 class="title">温度传感器参数配置</h2>
                        <!-- T -->
                        <div class="com-input-com">
                            <p>T分段点&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut15" class="number-input" placeholder="输入数字" value="3.7582"
                                v-model="configs_t" />
                            <el-tooltip placement="top">
                                <div slot="content">
                                    当V&lt;={{configs_t}}，F={{configs_t_k1}}，V+{{configs_t_b1}}<br />
                                    当V&gt;{{configs_t}}，F={{configs_t_k2}}，V+{{configs_t_b2}}
                                </div>
                                <i class="el-icon-warning-outline"></i>
                            </el-tooltip>
                        </div>
                        <div class="com-input-com">
                            <p>T-k1&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut16" class="number-input" placeholder="输入数字" value="-264.4064"
                                v-model="configs_t_k1" />
                            <p>T-b1&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut17" class="number-input" placeholder="输入数字" value="1046.2170"
                                v-model="configs_t_b1" />
                        </div>
                        <div class="com-input-com">
                            <p>T-k2&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut18" class="number-input" placeholder="输入数字" value="-711.2990"
                                v-model="configs_t_k2" />
                            <p>T-b2&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <input type="text" id="cut19" class="number-input" placeholder="输入数字" value="2725.7298"
                                v-model="configs_t_b2" />
                        </div>
                    </div>
                    <div class="button-push">
                        <button type="button" id="confirm" class="title-button">确定</button>
                    </div>
                </div>
            </div>
            <!-- -------------------侧边栏处理 end -------------------------------------- -->
            <div class="right-show">
                <div id="content">
                    <h1>实时数据展示</h1>
                    <div class="table-container">
                        <div class="table-grid" id="tableContainer">
                            <table class="table-cell" id="myTable1" border="1">
                                <tr>
                                    <td id="1-cell1">电路板温度</td>
                                </tr>
                                <tr>
                                    <td id="1-cell2">x</td>
                                </tr>
                            </table>
                            <table class="table-cell" id="myTable2" border="1">
                                <tr>
                                    <td id="2-cell1">电压</td>
                                </tr>
                                <tr>
                                    <td id="2-cell2">x</td>
                                </tr>
                                <tr>
                                    <td id="2-cell3">y</td>
                                </tr>
                                <tr>
                                    <td id="2-cell4">z</td>
                                </tr>
                            </table>
                            <table class="table-cell" id="myTable3" border="1">
                                <tr>
                                    <td id="3-cell1">加速度</td>
                                </tr>
                                <tr>
                                    <td id="3-cell2">x</td>
                                </tr>
                                <tr>
                                    <td id="3-cell3">y</td>
                                </tr>
                                <tr>
                                    <td id="3-cell4">z</td>
                                </tr>
                            </table>
                            <table class="table-cell" id="myTable4" border="1">
                                <tr>
                                    <td id="4-cell1">磁力</td>
                                </tr>
                                <tr>
                                    <td id="4-cell2">x</td>
                                </tr>
                                <tr>
                                    <td id="4-cell3">y</td>
                                </tr>
                                <tr>
                                    <td id="4-cell4">z</td>
                                </tr>
                            </table>
                            <table class="table-cell" id="myTable5" border="1">
                                <tr>
                                    <td id="5-cell1">压力</td>
                                </tr>
                                <tr>
                                    <td id="5-cell2">x</td>
                                </tr>
                                <tr>
                                    <td id="5-cell3">y</td>
                                </tr>
                                <tr>
                                    <td id="5-cell4">z</td>
                                </tr>
                            </table>
                            <table class="table-cell" id="myTable6" border="1">
                                <tr>
                                    <td id="6-cell1">欧拉角</td>
                                </tr>
                                <tr>
                                    <td id="6-cell2">x</td>
                                </tr>
                                <tr>
                                    <td id="6-cell3">y</td>
                                </tr>
                                <tr>
                                    <td id="6-cell4">z</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- -------------------数据展示 end-------------------------------------- -->
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    configs_x: 1,
                    configs_x_k1: 1831.34,
                    configs_x_k2: 1831.34,
                    configs_x_b1: -1404.63,
                    configs_x_b2: -1404.63,
                    configs_y: 1,
                    configs_y_k1: 1831.34,
                    configs_y_k2: 1831.34,
                    configs_y_b1: -1404.63,
                    configs_y_b2: -1404.63,
                    configs_z: 1,
                    configs_z_k1: 1831.34,
                    configs_z_k2: 1831.34,
                    configs_z_b1: -1404.63,
                    configs_z_b2: -1404.63,
                    configs_t: 1,
                    configs_t_k1: -51.41237,
                    configs_t_k2: -51.41237,
                    configs_t_b1: 431.8986,
                    configs_t_b2: 431.8986,
                }
            }
        })
    </script>
    <script src="./renderer.js"></script>
    <script src="../nav/index.js"></script>
    <script>
        //-----------------------导航元素自定义start------------------------
        // 创建自定义导航栏元素
        const customNavbar = document.createElement('custom-navbar');
        // 将自定义导航栏元素添加到容器中
        document.getElementById('custom-navbar-container').appendChild(customNavbar);
    </script>
</body>

</html>